# =========================

# PYTHON

# =========================

**pycache**/
*.py[cod]

# =========================

# ENTORNO VIRTUAL

# =========================

venv/

# =========================

# PYTEST

# =========================

.pytest_cache/

# =========================

# REPORTES Y SCREENSHOTS

# =========================

reports/
screenshots/

# =========================

# BASE DE DATOS LOCAL

# =========================

database.db

# =========================

# ARCHIVOS GENERADOS

# =========================

*.log
*.tmp
*.xlsx
*.csv

# =========================

# IDE

# =========================

.vscode/
.idea/

# =========================

# SISTEMA

# =========================

.DS_Store
Thumbs.db
